

    <table mat-table matSort [dataSource]="appleResponse"   
    
    >

        
      
        
        <ng-container matColumnDef="trackId">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.trackId}} </td>
        </ng-container>

        <ng-container matColumnDef="artistName">
          <th mat-header-cell *matHeaderCellDef> Artist </th>
          <td mat-cell *matCellDef="let element"> {{element.artistName}} </td>
        </ng-container>

        <ng-container matColumnDef="collectionName">
          <th mat-header-cell *matHeaderCellDef> Album </th>
          <td mat-cell *matCellDef="let element"> {{element.collectionName}} </td>
        </ng-container>
        
        <ng-container matColumnDef="releaseDate">
          <th mat-header-cell *matHeaderCellDef> Release Date </th>
          <td mat-cell *matCellDef="let element"> {{element.releaseDate| date:'yyyy-MM-dd'}} </td>
        </ng-container>
                     
        <ng-container matColumnDef="trackName">
          <th mat-header-cell *matHeaderCellDef> Song </th>
          <td mat-cell *matCellDef="let element"> {{element.trackName}} </td>
        </ng-container>

                    
        <ng-container matColumnDef="primaryGenreName">
          <th mat-header-cell *matHeaderCellDef> Genre </th>
          <td mat-cell *matCellDef="let element"> {{element.primaryGenreName}} </td>
        </ng-container>

        <ng-container matColumnDef="collectionPrice">
          <th mat-header-cell *matHeaderCellDef> Album price </th>
          <td mat-cell *matCellDef="let element"> {{element.collectionPrice}} </td>
        </ng-container>

      

        <ng-container matColumnDef="trackPrice">
          <th mat-header-cell *matHeaderCellDef> Song price </th>
          <td mat-cell *matCellDef="let element"> {{element.trackPrice}} </td>
        </ng-container>

      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      